body {
  margin:0;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.topnav {
  overflow: hidden;
  background-color: #fff;
  padding-left: 6.938rem;
  padding-right: 6.938rem;
  /* padding: 3rem; */
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
li{
  position: relative;
  list-style-type: none;
  /* height: 46px; */
  top: .75rem;
  padding-left: .5rem;
}
.topnav a {
  display: inline;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  padding-bottom: .8rem;
}

.topnav a:hover {
  border-bottom: 3px solid #83D1FF;
}

.topnav a.active {
  border-bottom: 3px solid #83D1FF;
  font-weight: bold;
  color: #83D1FF;
}
.dropdown-toggle{
  padding: 0px;
  font-size: 1.5rem;
  border: none;
  height: 0px;
}
.body-search{
  background: url(/public/images/picture.png) no-repeat right;
  height: 3rem;
  padding: .5rem;
  border-radius: .6rem;
  background-position-x: 30rem;
}
/* profile card */
.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 15rem;
    max-width: 19rem;
    margin-top: 2rem;
}
.profile_bg {
  background-color: #83D1FF;
  background-position: 0 50%;
  background-size: 100% auto;
  height: 95px;
}
#name,#link a{
  display: block;
  color: black;
  margin-top:.3rem;
}
#link a{
  color: grey;
}
.twPc-block {
  display: block !important;
}
.twPc-button {
  text-align: right;
  width: 100%;
}
.twPc-button a{
  text-align: center;
  border-radius: .7rem;
  height: 2rem;
}
.profileLink {
  border-radius: 45px;
  display: inline-block !important;
  margin: -30px 5px 0 8px;
  padding: .9rem;
  float: left;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}
.twPc-divUser {
  margin: 5px 0 0;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}
.twPc-divStats {
  margin-left: 11px;
  padding: 10px 0;
}
.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}
.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}